@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <img src="~/css/images/main-preview.png" class="img-fluid" alt="Preview should be here">
        <a class="btn btn-outline-light" asp-controller="Article" asp-action="Index" style="background-color:#FF792B; border:double">Get articles preview</a>
    </div>
</body>


@section CssStyles
    {
    <style>
        body {
            background-image: url(../css/images/newspaper.jpg);
            background-repeat: repeat;
        }
    </style>
}