@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Best News Aggregator</h1>
    <p>Highly recommend to visit <a href="https://www.onliner.by/">Onliner</a>.</p>
</div>

@*<div class="box">
  <p>Hey, don't cut me off like that. I want to speak my mind and don't appreciate being put into a box.</p>
</div>

@section CssStyles
{
    <style>
        body {
            align-items: center;
            background: radial-gradient( farthest-side at bottom left, rgba(255, 0, 255, 0.5), #246756 ), radial-gradient( farthest-corner at bottom right, rgba(255, 50, 50, 0.5), #246756 400px );
            display: flex;
            height: 100vh;
            justify-content: center;
            line-height: 1.5;
        }

        .box {
            width: 200px;
        }

        .box p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    </style>
}
*@