@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Best News Aggregator</h1>
    <p>Highly recommend to visit <a href="https://www.onliner.by/">Onliner</a>.</p>
</div>
