@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<div class="site-inner">
    <h5 class="page_subtitle">This privacy policy is a part of our commitment to maintaining your privacy and ours.</h5>
    <p>
        This page discloses the information gathering and dissemination practices for <strong>The Best News Aggregator</strong>.
    </p>
    <h5>Information Automatically Logged</h5>
    <p>
        These tools use ‘cookies’, which are text files placed on your computer, to collect standard internet log information and visitor behaviour information in an anonymous form.
        This information is then used to evaluate visitors&#8217; use of the website and to compile statistical reports on website.
    </p>
    <p>
        We will never (and will not allow any third party to) use the statistical analytics tool to track or to collect any personally identifiable information of visitors to our site.
        The Web Analytics vendors do not associate your IP address with any other data held by them. Neither we nor the Web Analytics Vendors will link, or seek to link, 
        an IP address with the identity of a computer user. We will not associate any data gathered from this site with any personally identifying information from any source unless
        you explicitly submit that information via a fill-in form on our website.
    </p>
    <h5>Disabling and Enabling Cookies</h5>
    <p>
        You have the ability to accept or decline cookies by modifying the settings on your browser.
    </p>
    <h5>External Links</h5>
    <p>
        This site may contain (affiliate) links to other sites. <strong>The Best News Aggregator</strong> and its author are not responsible for the privacy practices or the content of such websites.
    </p>
    <h5>Personal Information</h5>
    <p>
        When you fill in a contact form anywhere on our site or comment on a blog post, we ask for your email address (and possibly other details relevant to your request).
        This information is only used to contact you back about your specific request.
    </p>
    <p>
        Your email and any other information will only be used to contact you about updates on <strong>The Best News Aggregator</strong>.
    </p>
    <p>
        Your personal information will not be distributed to anyone for any purpose.

    </p>
    <h5>Security</h5>
    <p>
        This site has security measures in place to protect the loss, misuse, and alteration of the information under our control.
    </p>
    <h5>Contacting the Website</h5>
    <p>
        If you have any questions about this privacy statement, the practices of this site or your dealings with this website, you can contact us <a href="~/home/index">here</a>.
    </p>
</div>