@model UserModel

@{
    ViewData["Title"] = "Log in to your account";
}

<div>
    <h3>Log in to your account</h3>
    <h6>Don't have an account? 
        <a href="~/user/create">Sign up.</a>    
    </h6>
    <form asp-controller="User" asp-action="Index">
         <div class="index_email">
             <label for="email" class="form-label">Email</label>
             <input asp-for="Email" type="email" class="form-control" id="email">
         </div>
         <div class="index_password">
             <label for="password" class="form-label">Password</label>
             <input asp-for="Password" class="form-control" id="password">
         </div>
        <h6>Forgot password? 
            <a href="~/user/reset">Click here</a>
             to reset your password
        </h6>
         <input type="submit" class="btn btn-primary" value="Log In">
    </form>
</div>