@model LoginModel

@{
    ViewData["Title"] = "Log in to your account";
}

<div>
    <h3>Log in to your account</h3>
    <h6>Don't have an account? 
        <a href="~/account/register">Sign up.</a>    
    </h6>
    <form asp-controller="Account" asp-action="Login">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="login_email">
            <label for="email" class="form-label">Email</label>
            <input asp-for="Email" type="email" class="form-control" id="email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="login_password">
            <label for="password" class="form-label">Password</label>
            <input type="password" asp-for="Password" class="form-control" id="password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <h6>Forgot password? 
            <a href="~/account/reset">Click here</a>
                to reset your password
        </h6>
        <input type="submit" class="btn btn-primary" value="Log In">
    </form>
</div>


@*Подключаем скрипты для клиентской валидации*@
@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
