@model UserDataModel?


@if (Model != null)
{
    <div align="center">
    <h6 id="article-header">Welcome to the personal account of the administrator</h6>
    <div class="card" style="width: 25rem;" align="left">
        <img src="~/css/images/cat-avatar.png" class="card-img-top" alt="Your avatar should be here" width="400" height="333">
        <div class="card-body">
            <h6 class="card-title" style="text-align:center">Personal card</h6>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>role: </strong>@Model.RoleName</li>
            <li class="list-group-item"><strong>email: </strong>@Model.Email</li>
            <li class="list-group-item"><strong>ID: </strong>@Model.Id.ToString().ToUpperInvariant()</li>
        </ul>
    </div>
    <br />
    <div class="list-group" style="width: 25rem">
        <p><span class="dropdown-item-text">The following options are available to you:</span></p>
        <a class="btn btn-outline-secondary" href="~/article/CreateCustomArticle" style="border:double">Create custom article</a>
        <a class="btn btn-outline-secondary" href="~/article/GetArticlesFromSources" style="border:double">Get articles from sources</a>
        <a class="btn btn-outline-secondary" href="~/article/create" style="border:double">Change rate of articles to show</a>
    </div>
</div>
}