@model RegisterModel

@{
    ViewData["Title"] = "Create an account";
}

<div>
    <h3>Create your account</h3>
    <h6>Already have an account? 
        <a href="~/account/login">Log in.</a>    
    </h6>
    <form asp-controller="Account" asp-action="Register" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="create_email">
            <label for="email" class="form-label">Email</label>
            <input asp-for="Email" type="email" class="form-control" id="email">
        </div>
        <div class="create_password">
            <label for="password" class="form-label">Password</label>
            <input type="password" asp-for="Password" class="form-control" id="password">
        </div>
        <div class="create_password-confirmation">
            <label for="password-confirmation" class="form-label">Password confirmation</label>
            <input type="password" asp-for="PasswordConfirmation" class="form-control" id="password-confirmation">
        </div>

        <input type="submit" class="btn btn-primary" value="Create account">
    </form>
</div>


@* Подключаем скрипты для клиентской валидации*@
@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
