@model LoginModel

@{
    ViewData["Title"] = "Reset your password";
}

<div>
    <h3>Reset your password</h3>
    <h6>
        Can’t remember your password? Enter your email address and we will send you an email to create a new password.
    </h6>
    <form asp-controller="Account" asp-action="Reset" method="post">
        <div class="reset_email">
            <label for="email" class="form-label">Email address</label>
            <input asp-for="Email" type="email" class="form-control" id="email" style="width:auto" placeholder="name@email.com">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <br />
        <input type="submit" class="btn btn-primary" value="Send reset link">
        <div class="reset_email">
            <br />
            <label for="email" class="form-label">OR</label>
            <br />
            <a href="~/account/register"><strong>Create a new account</strong></a>    
        </div>
    </form>
</div>