@{
    ViewData["Title"] = "Specific error page";
}

<div>
    <h3>Oops, this part of the application hasn't been created yet.</h3>
    <h6>
        Just create a new account.
        <a href="~/account/register">Create.</a>    
    </h6>
</div>