@model UserDataModel?

@{
    Layout = null;
}

@if (Model == null)
{
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-action="Login" asp-controller="Account">Login</a></li>
            <li><a class="dropdown-item" asp-action="Register" asp-controller="Account">Register</a></li>
        </ul>
    </div>
}
else if (Model.RoleName == "Admin")
{
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            @Model.Email
        </button>
        <ul class="dropdown-menu">
            <li><span class="dropdown-item-text"><strong>Role: </strong>@Model.RoleName</span></li>
            <li><a class="dropdown-item" asp-controller="Account" asp-action="PersonalCabinetForAdmin">Personal cabinet</a></li>
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
        </ul>
    </div>
}
else
{
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            @Model.Email
        </button>
        <ul class="dropdown-menu">
            <li><span class="dropdown-item-text"><strong>Role: </strong>@Model.RoleName</span></li>
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
        </ul>
    </div>
}