@model ArticleWithUserRoleModel

@{
    ViewData["Title"] = "Article details";
}

<div>
    <h3>
        @Model.Title
    </h3>
    <div>
        <p class="lh-lg fw-light" align="justify">
            @Model.ArticleText
        </p>
    </div>
    <h6>
        @Model.PublicationDate
    </h6>
</div>

<hr />

@if (Model.IsAdmin)
{
    <a class="btn btn-outline-success" style="border:double" href="~/article/edit/@Model.Id">Edit article</a>
}

<a class="btn btn-outline-secondary" style="border:double" href="~/article/index/">Back</a>