@model ArticleDto

@{
    ViewData["Title"] = "Article details";
}

@*
    следует поменять Model на ArticleModel!!!
*@

<div>
    <h3>
        @Model.Title
    </h3>
    <div>
        <p>
            @Model.ArticleText
        </p>
    </div>
    <h6>
        @Model.PublicationDate
    </h6>
</div>

<hr /><a class="btn btn-success" style="background-color:cadetblue" href="~/article/index/">Back</a>


