@model ArticleDto

@{
    ViewData["Title"] = "Article details";
}

@*
    следует поменять Model на ArticleModel!!!
*@
<div>
    <h3>
        @Model.Title
    </h3>
    <div>
        <p>
            @Model.ArticleText
        </p>
    </div>
    <h6>
        @Model.PublicationDate
    </h6>
</div>

<hr />

@*<div>
    <h3>
        Comments
    </h3>

    @foreach (var comment in Model.Comments)
    {
        <p>
            comment bla bla bla;
        </p>
    }
</div>*@