@model SourceModel


<div align="center">
    <h5>Add articles with available rating to the feed</h5>
    <br />
    <form asp-controller="Article" asp-action="GetArticlesFromSources" method="post">
        <div class="list-group" style="width: 18rem">
            <input id="onliner_input" class="btn btn-outline-success" type="submit" style="border:double" asp-for="Name" value="Onliner">
            <label for="onliner_input"><em>Get articles from source Onliner</em></label><br>
            <input id="devby_input" class="btn btn-outline-success" type="submit" style="border:double" asp-for="Name" value="Devby">
            <label for="devby_input"><em>Get articles from source Devby</em></label><br>
            <input id="shazoo_input" class="btn btn-outline-success" type="submit" style="border:double" asp-for="Name" value="Shazoo">
            <label for="shazoo_input"><em>Get articles from source Shazoo</em></label><br>
        </div>
        <input class="btn btn-outline-success" type="submit" style="border:double" value="Get articles from any source">
        <a class="btn btn-outline-secondary" style="border:double" href="~/Account/PersonalCabinetForAdmin/">Back</a>
    </form>
</div>